
        .container1{
            background-color: white;
            display:flex;
            justify-content: space-around;
        }
        .learnify{
            color: #2a62ff;
            font-size: 50px;
            align-items: center;
        }
        .searchbar1{
            height: 35px;
            width: 400px;
            background-color: #F4F6FA;
            font-size: 17px;
            border-radius: 25px;
            padding-left: 10px;
            border: 0.5px solid black;
            transition: 0.2s ;
        }
        
        
        .container2{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 18px 40px;
            text-align: center;
            background-color:#e3f0ff ;
            height: 300px;
            width: 100%;
        }
    h1{
        font-size: 40px;
        color: black;
    }
    p{
        font-size: 20px;
        color: #555555;
    }
    form {
         height: 30px;
         width: 300px;
         border: 2px solid black;
         margin-left: 50px;
         border-radius: 20px;
         margin: auto;
         color:#222;
         padding-right: 35px;
         position: relative;
         font-family: 'inter',arial;
    }
    .bottons{
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-between;

    }
    
    .login{
        background-color: #F4F6FA;
        border: 2px solid #2a62ff;
        border-radius: 25px;
        color: #2a62ff;
        text-align: center;
        width: 100px;
        height: 40px;
    }
    .signup{
        background: #2a62ff;
        color: white;
        height:40px;
        width: 120px;
        border-radius: 25px;
        border:0px;
    }
    .searchbar2{
        height: 45px;
        width: 300px;
        border: 0.5px solid black;
        border-radius: 25px;
        font-size: 17px;
        padding-left: 10px;
        

    }
    .findcourses{
        width: 170px;
        height: 50px;
        background-color: #2a62ff;
        color: white;
        border: 0px;
        border-radius: 25px;
        
    }
    .courses{
        display: flex;
        justify-content: space-evenly;
        margin: 0px 300px 0px 300px;
        padding: 40px;
    }
    .boxes{
        height: 150px;
        width: auto;
        background-color: aliceblue;
    }
    
    .box1{
        height: 150px;
        width: 150px;
        background-color: rgb(233, 207, 207);
        border-radius: 20px;
        text-align: center;
        font-size: 20px;
        color: #222222;
        font-family: inter,Arial;
        margin: 20px;
        background-color: #ffff;

    }
    .featured1{ 
          display: flex;
          justify-content: space-between;
          width: auto;
          height: 100px;
          align-items: center;
          font-family: Arial;
        }
    .options{
        padding: 8px 12px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }
    .pictures{
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        background-color: rgb(221, 239, 233);
        margin: 10px;
        
    }
    .A{
       height: auto;
       width: auto;
       border-radius: 25px;
    }
    .picture{
        height: 200px;
        width: 300px;
        background-color: bisque;
        }
    .details{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
        font-family: Arial;
    }
    .teachers{
        text-align: center;
        background-color:#E3f0ff;
        padding-top: 5px  ;
        height: auto;
        width: auto;
    }
    .teacher{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:10px;
        background-color: #E3F0FF;
        padding-bottom: 10px;
        
    }
    .teacherphoto{
        width: 250px;
        height: 300px;
        background-color: rgb(245, 247, 246);
        border-radius: 25px;
        text-align: center;
        padding: 10px;
        display: flex;
        flex-direction: column;

        }
    .reviews{
         height: auto;
         width: auto;
         background-color: rgb(241, 249, 251);
         text-align: center;
         display: flex;
         flex-direction: column;
         gap: 20px;
         

        }
        .student{
            height:250px;
            width: 900px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            gap: 2rem;
            margin: 0 auto;
            justify-content: center;
            justify-content: space-around;
            
        }
        .studentreviews{
            height: 160px;
            width: 400px;
            background-color: rgb(227, 227, 248);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            padding: 1.5rem 1rem;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
            align-items: flex-start;
            
        }
        .articles{
            display: flex;
            flex-wrap: wrap;
            background-color: #E3f0ff;
            height: auto;
            width: auto;
            justify-content: space-around;
        }
        h1{
            height: 70px;
            width: 100%;
            text-align: center;
            
        }
        .photos{
            height: 180px;
            width: 250px;
        }
        .comment{
            height: 180px;
            width: 250px;
        }
        .frequent{
            background-color: #f6f7fa;
        }
        .questions{
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            
            }
        .question{
            width: 600px;
            height: auto;
            background-color: rgb(254, 255, 255);
            border-radius: 25px;
            padding:20px auto 20px 0px}
        .summary{
             font-size: larger;
             color: #2a62ff;
             font-weight: 100;
        }
        .Newsletter{
            display: flex;
            flex-direction: column;
            gap: 30px;
            height: 290px;
            width: auto;
            align-items: center;
            background-color: #e3f0ff;
        }
        .text{
            display: flex;
            justify-content: space-around;
            gap: 25px;
            
        }
        .searchbar3{
            height: 40px;
            width: 250px;
            border: 2px solid black;
            border-radius: 25px;
            padding-left: 10px;
        }
        .subscribe{
            color: white;
            background-color: #2a62ff;
            height: 40px;
            width: 100px;
            border: 0px;
            border-radius: 25px;
        }
        .black{
            background-color: #222222;
            display: flex;
            justify-content: space-around;
            height:300px;
            width: auto;
            /* justify-content: center; */
            align-items: center;
        }
        .ids{
            height: 200px;
            width: 200px;
            background-color: #222222;
            gap: 20px;
            
        }
    